<!-- WRAPPER -->
<div class="wrapper">
    <!-- SIDE IMAGE -->
    <div class="sidebar" data-color="dark-blue" data-image="assets/img/sidebar-5.jpg">

        <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text">
                        DOC VIEWER {{nome}}
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a routerLink="/admin/add-user">
                            <p>Adicionar Usuario</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/manager-user">
                            <p>Gerenciar Usuarios</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin">
                            <p>Projetos</p>
                        </a>
                    </li>
                </ul>
        </div>
    </div>

    <!-- END SIDE MENU -->

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
						<li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>